<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="/"><img src="{{ asset('assets/images/BdDuBloggeur-logo.png') }}" class="footer__logo" alt="BdDuBloggeur"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        <li><a href="/contact">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p class="footer__copyright__text">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | BdDuBloggeur
                </p>

            </div>
        </div>
    </div>
</footer>
