{% extends "./base.html.twig" %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h1 class="text-center">
                        Créez un nouveau post
                    </h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary btn-lg my-3">Submit Post</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
