{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-left">
        <div class="py-15">
            <h1 class="text-6xl">
                Modifier l'article
            </h1>
        </div>
    </div>

    <div class="w-4/5 m-auto pt-20">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="bg-blue-500 uppercase mt-15 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Valider
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
